.overlay {
    z-index: 20;
    position: fixed;
    width: 100vw;
    height: 100vh;
}

/* !Logo [top-left] */

.logo-container {
    position: absolute;
    width: 3rem;
    height: 3rem;
    top: 5vh;
    left: 7.5vw;
}

.logo-button {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 25%;
    fill: var(--COLOR_TEXT);
    color: var(--COLOR_TEXT);
    border-style: solid;
    border-width: thin;
}

.logo-button:hover {
    fill: var(--COLOR_PRIMARY);
    color: var(--COLOR_PRIMARY);
}

/* !Nav Menu [top-right] */

.nav-container {
    position: absolute;
    top: 5vh;
    right: 7.5vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.nav-items {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: right;
    border-style: solid;
    border-width: thin;
    margin-bottom: 1rem;
}

.hide {
    transition: all 300ms ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.show {
    visibility: visible;
    opacity: 1;
}

.nav-button {
    width: 3rem;
    height: 3rem;
}

.nav-icon {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 25%;
    color: var(--COLOR_TEXT);
}

.nav-item-text {
    color: var(--COLOR_PRIMARY);
    padding: 0.5rem;
    display: none;
}

.nav-items:hover {
    color: var(--COLOR_PRIMARY);
    z-index: 10;
}

.nav-items:hover .nav-icon {
    color: var(--COLOR_PRIMARY);
}

.nav-items:hover .nav-item-text {
    display: inline-block;
}

/* !Next Section [bottom-left] */

.next-section-container {
    position: absolute;
    width: 3rem;
    height: 3rem;
    bottom: 5vh;
    left: 7.5vw;
}

.next-section-button {
    width: 100%;
    height: 100%;
    padding: 25%;
    position: relative;
    color: var(--COLOR_TEXT);
    border-style: solid;
    border-width: thin;
}

.next-section-icon {
    width: 100%;
    height: 100%;
}

.next-section-button:hover {
    color: var(--COLOR_PRIMARY);
}

/* !Blog [bottom-right] */

.blog-container {
    position: absolute;
    width: 3rem;
    height: 3rem;
    bottom: 5vh;
    right: 7.5vw;
}

.blog-button {
    width: 100%;
    height: 100%;
    padding: 25%;
    position: relative;
    color: var(--COLOR_TEXT);
    border-style: solid;
    border-width: thin;
}

.blog-icon {
    width: 100%;
    height: 100%;
}

.blog-button:hover {
    color: var(--COLOR_PRIMARY);
}