/* !Overlay */
.overlay {
    z-index: 20;
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.overlay-button {
    position: absolute;
    border-style: solid;
    border-width: 1px;
    color: var(--COLOR_TEXT);
    width: 3rem;
    height: 3rem;
    transition: 0.3s;
}

.top-left {
    top: 5vh;
    left: 7.5vw;
}

.top-right {
    top: 5vh;
    right: 7.5vw;
}

.bottom-left {
    bottom: 5vh;
    left: 7.5vw;
}

.bottom-right {
    bottom: 5vh;
    right: 7.5vw;
}

.icon {
    transition: 0.3s;
    position: relative;
    color: var(--COLOR_TEXT);
    width: 50%;
    height: 50%;
}

.logo>path {
    transition: 0.3s;
    fill: var(--COLOR_TEXT);
}

.overlay-button:hover {
    color: var(--COLOR_PRIMARY);
    z-index: 21;
}

.overlay-button:hover .icon {
    color: var(--COLOR_PRIMARY);
}

.overlay-button:hover .logo>path {
    fill: var(--COLOR_PRIMARY);
}

@media (max-width: 540px) {
    .top-left {
        width: 3rem;
        height: 3rem;
        top: 1rem;
        left: 1rem;
        transform: none;
    }

    .top-right {
        width: 3rem;
        height: 3rem;
        top: 1rem;
        right: 1rem;
        transform: none;
    }

    .bottom-left {
        display: none;
    }

    .bottom-right {
        display: none;
    }
}

/* Nav Menu */
.nav-menu {
    transition: all 300ms ease-in-out;
    visibility: hidden;
    opacity: 0;
}

.nav-menu-show {
    visibility: visible;
    opacity: 1;
}

.nav-menu>ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: calc(10vh + 3rem);
    right: 7.5%;
    /* gap: -1rem; */
}

.nav-items {
    border-style: solid;
    border-width: 1px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    /* margin-top: -1px; */
    border-bottom: none;
}

.nav-items:last-child {
    border-bottom: thin solid var(--COLOR_TEXT);
}

.nav-item-button {
    transition: all 300ms ease-in-out;
    color: var(--COLOR_TEXT);
    width: calc(3rem - 2px);
    height: 3rem;
}

.nav-item-text {
    transition: all 300ms ease-in-out;
    display: none;
    font-size: 10px;
    padding: 0.5rem;
    color: var(--COLOR_PRIMARY);
}

.nav-items:hover {
    color: var(--COLOR_PRIMARY);
    border-bottom: thin solid var(--COLOR_PRIMARY);
}

.nav-items:hover:nth-child(n) {
    color: var(--COLOR_PRIMARY);
    z-index: 21;
}

.nav-items:hover .nav-item-text {
    display: inline-block;
}

.nav-items:hover .icon {
    color: var(--COLOR_PRIMARY);
}

@media (max-width: 540px) {
    .nav-items {
        width: 50%;
    }

    .nav-menu>ul {
        top: 5rem;
        right: 1rem;
        width: calc(100vw - 2rem);
    }

    .nav-item-text {
        display: inline-block;
        color: var(--COLOR_TEXT);
    }
}