* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



section {
  min-height: 100vh;
  width: 70%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(93, 108, 134);
}