/* !Constants */

:root {
    /* ---PRIMARY COLORS--- */
    --COLOR_PRIMARY: #5E81AC;

    /* ---TEXT COLORS--- */
    --COLOR_TEXT: #2e3440;

    /* ---BACKGROUND COLORS--- */
    --COLOR_BACKGROUND_ALPHA: #f8f9fb;

    /* Nord theme */


}

/* width */
::-webkit-scrollbar {
    width: 0.75rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--COLOR_BACKGROUND_ALPHA);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--COLOR_TEXT);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--COLOR_PRIMARY);
}